@font-face {
    font-family: starwars;
    src: url(../fonts/StarWars.ttf);
}

@font-face {
    font-family: starjedi;
    src: url(../fonts/Starjedi.ttf);
}

@font-face {
    font-family: starjhol;
    src: url(../fonts/Starjhol.ttf);
}

body {
    background-image: url(../img/hyperspace_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: starjhol;
    font-size: 60px;
    text-align: center;
    color: yellow;
}

#grid {
    display: flex;
    flex-direction: column;
    margin: 30px 100px 100px 100px;
    width: 714px;
    height: auto;
    background-image: url(../img/death-star\ pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.667);
}


.row {
    display: flex;
    justify-content: center;
}


.cell {
    width: 100px;
    height: 100px;
    line-height: 110px;
    text-align: center;
    border: 4px ridge rgba(75, 75, 129, 0.578);
    font-family: starwars;
    font-size: 70px;
    color: red;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.582);
}

#score {
    text-align: center;
    padding: 20px;
    margin: 100px;
    width: 666px;
    height: auto;
    background-image: url(../img/cockpit.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px ridge gray;

}

#activePlayer {
    display: flex;
    justify-content: space-between;
}

#activePlayer img {
    margin: 0 100px 20px 100px;
    width: 100px;
    height: auto;
}

#score p {
    font-family: starJedi;
    font-size: 80px;
    color: yellow;
    text-shadow: 5px 5px 5px rgba(255, 255, 0, 0.653);
}

h2 {
    font-family: starJhol;
    font-size: 30px;
    color: yellow;
}

#rebWin {
    position: absolute;
    margin-top: 30px;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#impWin {
    position: absolute;
    margin-top: 30px;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#draw {
    position: absolute;
    margin-top: 30px;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-family: starJedi;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #767676b0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #767676;
    color: yellow;
}

button:active {
    background-color: #767676b0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}